@media screen and (max-width: 576px) {
    
    /* header section */
    .Influencer-container  {
        flex-direction: column;
    }

    .Influencer-text,
    .Influencer-item {
        width: 100%;
        text-align: center;
    }

    .Influencer-text {
        margin-bottom: 10px;
    }

    .Influencer-item {
        flex-wrap: wrap;
        gap: 10px;
    }
    /* End header  */

    /*Banner section*/
    .banner-container{
        flex-direction: column-reverse;
        margin-top:-50px ;
    }
    .banner-content, .banner-image  {
        width:auto;
        text-align: center;
    }
    .banner-image{
        background-size: 90%;
    }
    .banner-image img{
        width: 80%;
        margin-top: 100px;
    }
    .banner-content h2{
        font-size: 28px;
        line-height: normal;
    }
    .banner-content p{
        font-size: 20px;
        padding: 20px;
        margin-top:5px ;
        margin-bottom: 05px;
    }
}