/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Common style */

* {
    font-family: "Manrope", "Roboto", "Inter", "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section */
header {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.Influencer-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 0 30px;
}

.Influencer-text {
    width: 50%;
}

.Influencer-text h3 {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}

.Influencer-item {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.Influencer-item a {
    text-decoration: none;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

/* End Header */

/* Banner section start */
.banner-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    min-height: 550px;
}

.banner-content {
    width: 50%;
}

.banner-content h2 {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.banner-content p {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0;
}

.banner-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 25px;
    border-radius: 41px;
    background: #E02C6D;
    gap: 10px;
}

.banner-btn button {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background: none;
}

.banner-btn span {
    color: #FFF;
}

.banner-image {
    width: 50%;
    min-height: 500px;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
}

.banner-image img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: auto;
}

/*End Banner section*/

/* <!-- Logo section start --> */
.logo-container {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.logo-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    border-top: 01px solid teal;
    border-bottom: 01px solid teal;
    gap: 60px;

}

.logo-img img {
    width: 100%;
}

/* End logo section */

/* <!-- Popular section start --> */
.popular-container {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.popular-content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.item-description {
    margin-bottom: 30px;
    border-radius: 5px;
    background: #FFF;
    width: 350px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 17px;
}

.popular-text {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.item-description img {
    width: auto;
    border-radius: 05px;
}

.item-description h3 {
    color: #18191F;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 15px;
}

.item-description-price {
    font-size: 30px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    margin-top: 06px;
    margin-bottom: 06px;
}

.item-star {
    display: flex;
    gap: 10px;
}

.item-star span {
    color: #FB8200;
}

.item-star-price {
    color: #665e5e;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1px;
}

.product-details {
    width: 210px;
    color: #787885;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.252px;
    line-height: 143%;
    margin-top: 03px;
}

.see-more {
    display: block;
    text-align: end;
    gap: 05px;
}

.see-more button {
    color: rgba(224, 44, 109, 0.87);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    background: none;
    border: none;
}

.see-more span {
    color: rgba(224, 44, 109, 0.87);
}

/* End popular section */

/* Featured Products section Start  */

.featured-container {
    margin: 0 auto;
    max-width: 1100px;
    margin-bottom: 100px;
}

.featured-img,
.featured-text-group {
    width: 50%;
}

.featured-content {
    display: flex;
    align-items: center;
}

.featured-text {
    color: #0A0826;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
}

.featured-description {
    color: #6C6C6C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    margin: 16px 0;
    width: 450px;

}
.prebook{
    border-radius: 0;
}

/* 
/* End Featured Products section  */

/* Start footer section */
footer {
    background-color: #18191F;
    color: #FFF;
    align-items: center;
    padding: 50px auto;

}